.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.18;
    height: 100vh;
    background-color: #3b3f44;
}

.sidebar-top {
    display: flex;
    border-bottom: 3px solid #26282c;
    padding: 20px;
    background-color: #3b3f44;
    color: white;
    justify-content: space-between;
    align-items: center;
}


.sidebar-channels {
    flex: 1;
}

.sidebar-add-icon {
    cursor: pointer;
}

.sidebar-add-icon:hover {
    color: white;
}

.sidebar-channel-header {
    display: flex;
    color: lightgray;
    justify-content: space-between;
    padding: 10px;
    background-color: #3b3f44;
    align-items: center;
}

.sidebar-channel-block {
    flex: 1;
}

.channel-header {
    display: flex;
    align-items: center;
}

.hash {
    font-size: 20px;
    padding: 8px;
}

.channel-name {
    display: flex;
    background-color: #3b3f44;
    align-items: center;
    padding-left: 20px;
    color: lightgray;
    display: flex;
    cursor: pointer; 
}

.channel {
    padding: 6px 8px;
    position: relative;
    margin: 0 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.channel-settings-icon {
    cursor: pointer;
    font-size: 5px;
}



.channel > h4:hover {
    background-color: #40464b;
    color: white;
    /* padding: 2px; */
}

.sidebar-profile {
    display: flex;
    align-items: center;
    color: lightgray;
    justify-content: space-between;
    padding: 5px;
    background-color: #2f3135;
    border-top: 1px solid gray;
    
}

.sidebar-profile-info {
    flex: 1;
    padding: 10px;
}

.sidebar-profile-info > h3 {
    color: white;
}


.home-page {
    display: flex;
    height: 100%;
    flex: .75;

    /* width: 100%; */
}


.server-container {
    display: flex;
    width: 62px;
    flex-direction: column;
    height: 100vh;
    background-color: #2f3135;
}

body {
    background-color: #2f3135;
}

.fa-discord {
    color: white;
}

.server-button, .friend-icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    text-decoration: none;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    background-color: #36393f;
    color: #dcddde;
    margin-bottom: 8px;
    transition: background-color .15s ease-out, color .15s ease-out, border-radius .15s ease-out;

}

.server-button:hover {
    background-color: #586fc0;
    border-radius: 15px;

}

.bottom-border {
    margin-left: 5px;
    margin-bottom: 8px;
    height: 2px;
    border-radius: 1px;
    width: 32px;
    background-color: rgba(255,255,255,0.06);
}

.chat-header {
    color: white;
}

.message-form {
    background-color: #40444b;
    max-height: 50vh;
    border-radius: 8px;
    padding-left: 16px;
    z-index: 2;
}

.message-form > input {
    background-color: transparent;
    border: none;
    appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    color: white;
}

.chat-messages > li {
    position: relative;
    padding: 2px 40px 2px 32px;
    display: flex;
    margin-top: 17px;
    color: white;
    margin-right: 8px;
}

.message-content {
    height: 100%;
    box-sizing: border-box;
}



.message-container {
    width: 100%;
    height: 100vh;
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    box-sizing: border-box;
    display: flex;
    flex: 0.77;
    flex-direction: column;
}

.send-message-container {
    padding: 0 16px;
    padding-bottom: 8px;
}

.view-messages-container {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
}

.no-decor {
    text-decoration: none;
    color: #1A1E20;
}

.friend-list {
    color: white;
    display: flex;
    gap: 10px;
    margin-left: 10px;

}


ul {
    padding: 0;
}


.create-block {
    position: relative;
    width: 440px;
    background-color: #36393f;
    box-shadow: 0 0 0 1px #20222599, 0 2px 10px 0 #00000033;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.channel-settings {
    background-color: #36393f;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

} 

.close-channel {
    cursor: pointer;
    position: fixed;
    left: 91%;
    top: 5%;
    color: #b9bbbe;
    line-height: 16px;
    transition: color .17s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.channel-settings-nav {
    width: 312px;
    box-sizing: border-box;
    background-color: #2f3136;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #b9bbbe;
}

.channel-settings-edit {
    position: relative;
    padding: 60px 40px 80px;
    width: 100%;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
    box-sizing: border-box;
    color: #b9bbbe;
}

.channel-update {
    display: flex;
    flex-direction: column;
}

.channel-update > input {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    color: #dcddde;
    background-color: #202225;
    border: none;
    outline: 0;
    font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    transition: border-color .2s ease-in-out;
}

/* .setting-modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.setting-model-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.settings-bottom-border {
    margin-left: 5px;
    margin-bottom: 8px;
    height: 2px;
    border-radius: 1px;
    width: 202px;
    background-color: rgba(255,255,255,0.06);
}

.settings-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    color: #b9bbbe;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}


.splash-page {
    background-color: rgb(66, 78, 228);
    height: 100%;
    width: 100%;
}

#root {
    height: 100vh;
    width: 200vh;
}

* {
    margin: 0;
    padding: 0;
}

.splash-container {
    background: url(splash-image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100% 100%;
    height: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 20%;
    list-style: none;
}

.splash-nav {
    display: flex;
    justify-content: space-evenly;
    
}

.no-decor-nav {
    text-decoration: none;
    color: white;
}

.no-decor-nav:hover {
    text-decoration: underline;
}


.logo-name {
    color: white;
}


.btn-login {
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    border: 0;
    transition-property: color,box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.splash-nav-container {
    margin-top: 25px;
}

.messages {
    overflow: hidden auto;
    height: calc(100% - 68px);

}

.message-item {
    position: relative;
    display: flex;
    margin-top: 17px;
    padding: 2px 40px 2px 32px;
    margin-right: 8px;
    color: white;
}

.message-icon {
position: relative;
    right: 16px;
    margin-top: calc(4px - 0.125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.message-sender {
    display: flex;
    align-items: flex-end;
    line-height: 1.375rem;
    min-height: 1.375rem;
}

.message-text {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #dcddde;
    font-weight: 400;
}

.create-channel {
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 5px 5px 0 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: cent
    
}

.create-form {
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.create-form > input {
    margin-left: 16px;
    margin-right: 8px;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    width: 93%;
    border-radius: 3px;
    color: #dcddde;
    background-color: #202225;
    outline: 0;
    border: 0;
    margin-bottom: 20px;
}


.cancel-submit {
    box-shadow: inset 0 1px 0 #2f313699;
    background-color: #2f3136;
    border-radius: 0 0 5px 5px;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}


.button {
    color: white;
    background-color: #4d59d5;
    height: 38px;
    transition: background-color .17s ease;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    outline: 0;
    border: 0;
}
